{% extends '::base.html.twig' %}

{% block title %} <i class="fa fa-tasks"></i> {{ 'Managers'|trans }} {% endblock %}
{% block subtitle %}{{ 'Manager List'|trans }}{% endblock %}

{% block content %}
    <div>
        <div class="header">
            <div class="actions"> <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a> <a href="#" class="refresh"><i class="fa fa-repeat"></i></a> <a href="#" class="close-down"><i class="fa fa-times"></i></a> </div>
            <h3 class="content-header">{{ block('subtitle') }}</h3>
        </div>
        <div class="porlets-content">
            <p>{{ util.button_text('managers_new', {}, 'Add New'|trans, 'info') }}</p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'Name'|trans }}</th>
                        <th>{{ 'Position'|trans }}</th>
                        <th>{{ 'Actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for manager in managers %}
                        <tr>
                            <td>{{ manager.name }}</td>
                            <td>{{ manager.position }}</td>
                            <td>
                                {{ util.button_icon('managers_edit', {id: manager.id}, 'Edit Manager'|trans, 'warning', 'pencil') }}
                                {{ util.button_icon('managers_delete', {id: manager.id}, 'Delete Manager'|trans, 'danger', 'remove') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!--/table-responsive-->
        </div><!--/porlets-content-->
    </div>
    <div>
        {{ knp_pagination_render(managers) }}
    </div>
{% endblock %}
