{% import '::util.html.twig' as util %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>{% block subtitle %}{% endblock %} | Kleffmann</title>

    {% stylesheets
        'bundles/devtagkleffmann/bootstrap/css/bootstrap.min.css'
        'bundles/devtagkleffmann/css/font-awesome.min.css'
        'bundles/devtagkleffmann/css/style.css'
        'bundles/devtagkleffmann/css/style-responsive.css'
        'bundles/devtagkleffmann/plugins/bootstrap-datepicker/css/datepicker.css'
        filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="dark-theme">
<div class="header navbar navbar-inverse box-shadow navbar-fixed-top">
    <div class="navbar-inner">
        <div class="header-seperation">
            <ul class="nav navbar-nav">
                <li class="sidebar-toggle-box"> <a href="#"><i class="fa fa-bars"></i></a> </li>
                <li> <a href="{{ path('dashboard') }}"><strong>Kleffmann Group</strong></a> </li>
                <li id="last-one"> <a href="login.html">Log Out <i class="fa fa-angle-double-right"></i></a> </li>
            </ul><!--/nav navbar-nav-->
        </div><!--/header-seperation-->
    </div><!--/navbar-inner-->
</div><!--/header-->

<div class="page-container">
    <div class="nav-collapse top-margin fixed box-shadow2 hidden-xs" id="sidebar">
        <div class="leftside-navigation">
            <ul id="nav-accordion" class="sidebar-menu">
                {% for menu in menu.main %}
                    <li>
                        <a href="{{ path(menu.url) }}" class="dcjq-parent"> <i class="fa fa-{{ menu.icon }}"></i> <span>{{ menu.name}}</span></a>
                        {% if menu.submenu is defined %}
                            <ul class="sub" style="display: none;">
                                {% for submenu in menu.submenu %}
                                    <li><a href="{{ path(submenu.url) }}"><i class="fa fa-angle-right"></i> {{ submenu.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul><!--/nav-accordion sidebar-menu-->
        </div><!--/leftside-navigation-->
    </div><!--/sidebar-->

    <div id="main-content">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ block('title') }}</h2>
                </div><!--/col-md-12-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="block-web">
                       {% block content %}{% endblock %}
                    </div><!--/block-web-->
                </div><!--/col-md-12-->
            </div><!--/row-->


        </div><!--/page-content end-->
    </div><!--/main-content end-->
</div><!--/page-container end-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    {% javascripts
        '@DevTagKleffmannBundle/Resources/public/js/jquery-2.0.2.min.js'
        '@DevTagKleffmannBundle/Resources/public/bootstrap/js/bootstrap.min.js'
        '@DevTagKleffmannBundle/Resources/public/js/accordion.js'
        '@DevTagKleffmannBundle/Resources/public/js/common-script.js'
        '@DevTagKleffmannBundle/Resources/public/js/jquery.nicescroll.js'
        '@DevTagKleffmannBundle/Resources/public/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'
        '@DevTagKleffmannBundle/Resources/public/js/custom/form.js'
        '@DevTagKleffmannBundle/Resources/public/js/custom/loadCities.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts  %}
</body>
</html>
