{% extends '::base.html.twig' %}

{% block title %}<i class="glyphicon glyphicon-list-alt"></i> {{ 'Interviewers'|trans }}{% endblock %}
{% block subtitle %} {{ 'Edit Interviewer'|trans }} {% endblock %}

{% block content %}
    <div>
        <div class="header">
            <div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a> <a class="refresh" href="#"><i class="fa fa-repeat"></i></a> <a class="close-down" href="#"><i class="fa fa-times"></i></a> </div>
            <h3 class="content-header">{{ block('subtitle') }}    </h3>
        </div>
        <div class="row porlets-content">
            {{ form_start(form) }}
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group">
                            {{ form_label(form.state) }}
                            {{ form_widget(form.state) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.city) }}
                            {{ form_widget(form.city) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.district) }}
                            {{ form_widget(form.district) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.first_name) }}
                            {{ form_widget(form.first_name) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.second_name) }}
                            {{ form_widget(form.second_name) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.birthday) }}
                            {{ form_widget(form.birthday, {'attr' : {'value': 'now' | date("Y-m-d"), 'class':'datepicker'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group">
                            {{ form_label(form.home_area_code) }}
                            {{ form_widget(form.home_area_code) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.home_phone) }}
                            {{ form_widget(form.home_phone) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.office_area_code) }}
                            {{ form_widget(form.office_area_code) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.office_phone) }}
                            {{ form_widget(form.office_phone) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.cell_area_code) }}
                            {{ form_widget(form.cell_area_code) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.cell_phone) }}
                            {{ form_widget(form.cell_phone) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group">
                            {{ form_label(form.bank) }}
                            {{ form_widget(form.bank) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.clabe) }}
                            {{ form_widget(form.clabe) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.debit_card) }}
                            {{ form_widget(form.debit_card) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.bank_account) }}
                            {{ form_widget(form.bank_account) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.observation) }}
                            {{ form_widget(form.observation) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
                <button class="btn btn-default">{{ 'Cancel'|trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

