{% extends '::base.html.twig' %}

{% block title %} <i class="fa fa-tasks"></i> {{ 'Projects'|trans }} {% endblock %}
{% block subtitle %}{{ 'Project List'|trans }}{% endblock %}

{% block content %}
<div>
    <div class="header">
        <div class="actions"> <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a> <a href="#" class="refresh"><i class="fa fa-repeat"></i></a> <a href="#" class="close-down"><i class="fa fa-times"></i></a> </div>
        <h3 class="content-header">{{ block('subtitle') }}</h3>
    </div>
    <div class="porlets-content">
        <p>{{ util.button_text('projects_new', {}, 'Add New'|trans, 'info') }}</p>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Customer'|trans }}</th>
                    <th>{{ 'Actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.customer.name }}</td>
                        <td>
                            {{ util.button_icon('project_zones', {project: project.id}, 'Project Zones'|trans, 'success', 'globe') }}
                            {{ util.button_icon('project_filters', {project: project.id}, 'Project Filters'|trans, 'info', 'filter') }}
                            {{ util.button_icon('projects_edit', {id: project.id}, 'Edit Project'|trans, 'warning', 'pencil') }}
                            {{ util.button_icon('projects_delete', {id: project.id}, 'Delete Project'|trans, 'danger', 'remove') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!--/table-responsive-->
    </div><!--/porlets-content-->
</div>
    <div>
        {{ knp_pagination_render(projects) }}
    </div>
{% endblock %}
