{% extends '::base.html.twig' %}

{% block title %} Project List{% endblock %}

{% block content %}
<div>
    <div class="header">
        <div class="actions"> <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a> <a href="#" class="refresh"><i class="fa fa-repeat"></i></a> <a href="#" class="close-down"><i class="fa fa-times"></i></a> </div>
        <h3 class="content-header">Project List</h3>
    </div>
    <div class="porlets-content">
        <p>{{ util.button_text('project_new', {}, 'Add new', 'info') }}</p>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Customer</th>
                    <th>Total</th>
                    <th>Year</th>
                    <th>Manager</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.customer }}</td>
                        <td>{{ project.total }}</td>
                        <td>{{ project.year }}</td>
                        <td>{{ project.manager }}</td>
                        <td>{{ project.status   }}</td>
                        <td>
                            {{ util.button_icon('project_filter_list', {id: project.id}, 'View Filters', 'info', 'filter') }}
                            {{ util.button_icon('project_locale_list', {id: project.id}, 'View Locations', 'success', 'map-marker') }}
                            {{ util.button_icon('project_edit', {id: project.id}, 'Edit Project', 'warning', 'pencil') }}
                            {{ util.button_icon('project_delete', {id: project.id}, 'Delete Project', 'danger', 'remove') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!--/table-responsive-->
    </div><!--/porlets-content-->
</div>
{% endblock %}
